/*
Project Name: Gift Bundler
Client: Little Llama
Author: David Liew
*/


/******************************************
/* SETUP
/*******************************************/


/* Box Model Hack */

* {
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
    clear: both;
}
.alignright {
    float: right;
    padding: 0 0 10px 10px;
    /* note the padding around a right floated image */
}
.alignleft {
    float: left;
    padding: 0 10px 10px 0;
    /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-size: 26px;
    line-height: 1.4;
    color: #000;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    background: url(../images/pdt2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a {
    text-decoration: none;
}
#contact-page, #ideas {
    font-size: 26px;
    line-height: 1.4;
    color: #000;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    background: none;
    height: 100vh;
}

/******************************************
/* LAYOUT
/*******************************************/


/* Center the container */

.container {
    width: 960px;
    margin: auto;
    padding-top: 5em;
    min-height: 100%;
}
.center {
  text-align: center;
}
header {
    background: rgba(0, 0, 0, .3);
    padding: 20px 0 0 0;
}
.navdark {
  margin: 0;
  background-color: black;
}
nav {
    font-size: 20px;
    display: block;
    background: rgba(0, 0, 0, .5);
    text-align: center;
}
nav li {
    display: inline-block;
    padding: 20px 20px;
}
nav li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.title {
    text-align: center;
    color: #fff;
    font-size: 38px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.title p {
    font-size: 22px;
}
fieldset {
    height: 300px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    display: block;
    background: white;
    padding: 50px;
}
#select1 {
    width: 200px;
    -webkit-appearance: none;
    margin: 30px;
}
#select2 {
    width: 400px;
    -webkit-appearance: none;
    margin: 30px;
}
#selection {
    font-size: 36px;
    font-weight: 600;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fee111;
    transition: 1s ease-in-out;
}
.btn {
    background-color: black;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #111;
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    line-height: 40px;
    vertical-align: middle;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    cursor: pointer;
}
.btn:hover {
    background: #fff600;
}
img {
    max-width: 100%;
    height: auto;
}

.imageholder {
  padding-top: 180px;
  max-width: 100%;
  display: block;
  background: white;
  text-align: center;
}
/*.gift1 {
    background-image: url(../images/pdt1.jpg)
}
.book1 {
    background-image: url(../images/pdt2.jpg)
}
.toy1 {
    background-image: url(../images/pdt3.jpg)
}*/
.howwework{
  background: white;
  padding: 50px;
}
.howwework h1{
  text-align: center;
}
.howwework img{
  width: 100%;
}
footer {
    padding: 40px 0 20px;
    text-align: center;
    background: #fee111;
}
footer ul li {
    display: inline-block;
    list-style: none;
    margin: 25px 15px;
}
footer p {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

/*******************************************/
/* REGISTRATION FORM
/*******************************************/

.details label {
    padding-bottom: 20px;
    display: inline-block;
    margin-right: 80px;
    width: 180px;
    word-wrap: break-word;
}

/*.name .email .phone .country */
.details input {
    font-size: 20px;
    display: inline-block;
    border-style: none;
    border-bottom: 2px solid;
}
.details select {
    font-size: 20px;
    border: none;
    width: 200px;
}
.details label + label {
    margin-right: 20px;
    display: inline-block;
    max-width: 150px;
}
input[type="text"], input[type="email"] {
    color: gray;
}
.agreement {
    color: black;
    font-size: 16px;
    margin-top: 20px;
}
div[class="col-xs-4"] {
    text-align: center;
}
/******************************************
/* SLIDER
/*******************************************/

.slider-container {
    position: relative;
    height: 600px;
    overflow: hidden;
}
.slides li {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: transform .5s ease;
}
.slides li.selected {
    z-index: 2;
    transform: translateX(0);
}
.slides li.move-left {
    transform: translateX(-100%);
}
.slides li.visible {
    z-index: 2;
}
.slides li:nth-child(1) {
    background: url(../images/pdt2.jpg) no-repeat center center;
    background-size: cover;
    max-height: 100%;
}
.slides li:nth-child(2) {
    background: url(../images/pdt3.jpg) no-repeat center center;
    background-size: cover;
}
.slides li:nth-child(3) {
    background: url(../images/pdt4.jpg) no-repeat center center;
    background-size: cover;
}
.slides li:nth-child(4) {
    background: url(../images/pdt5.jpg) no-repeat center center;
    background-size: cover;
}
.slides li > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}
.slides h2{
    margin-top: 0;
    background: black;
    opacity: .5;
}
.slider-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.slider-nav a {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.slider-nav a.next {
    left: auto;
    right: 10px;
}
.slider-dot-nav {
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-dot-nav li {
    display: inline-block;
    margin-right: 15px;
}
.slider-dot-nav a {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: background .3s ease;
}
.slider-dot-nav a.selected {
    background: #fff;
}

/*responsiveness*/

@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
        display: block;
    }
    header {
        padding: 10px;
        display: block;
        height: 330px;
    }
    nav {
      height:5%;
    }
    fieldset {
      display: block;
      float: none;
    }
    .selection{
      display: block;
      font-size: 20px;
    }
    label{
      display: block;
      text-align: center;
    }
    .howwework{
      font-size: 15px;
    }
    #select1 {
      width: 80px;
    }
    #select2{
      width: 180px;
    }
    .mobile{
      text-align: center;
    }
    .imageholder {
      display: block;
    }
    h3 {
        font-size: 30px;
    }
    .logo {
        font-size: 36px;
    }
    header nav ul li {
        margin: 0px 20px 0 0;
    }
    header nav ul li {
        font-size: 18px;
    }
    footer .logo, footer ul li {
        margin-bottom: 30px;
    }
